body {
    font-family: Tahoma;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    direction: rtl;
}

hr {
    margin: 0 0 40px 0;
    border: 0;
    border-top: 1px dashed #8c8b8b;
}

.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
}

.table_header {
    margin-bottom: 14px;
    color: #777;
    font-size: 2.2em;
    font-family: 'Open Sans Hebrew Condensed', serif;
}

.table_header2 {
    margin-bottom: 10px;
    color: #777;
    font-size: 1.7em;
    font-family: 'Open Sans Hebrew Condensed', serif;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}

    .table.index {
        margin: 0 0 20px 0;
    }

.row {
    display: table-row;
    background: #f6f6f6;
}

    .row:nth-of-type(odd) {
        background: #e9e9e9;
    }

    .row.header {
        font-weight: 600;
        color: #ffffff;
        background: #ea6153;
    }

    .row.green {
        background: #27ae60;
    }

    .row.blue {
        background: #2980b9;
    }

    .row.gray {
        background: #666;
    }

.cell {
    padding: 4px 8px;
    display: table-cell;
}

    .cell.payment_red {
        background: #ffc1b3;
    }

    .cell.payment_green {
        background: #d8e4bc;
    }

    .cell.payment_blue {
        background: #c8dcf4;
    }